* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: rebeccapurple;
}

/* h1, h2, ul {
  outline: 1px solid red;
} */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav {
  background-color: chocolate;
  padding: 20px;
}

.menu {
  list-style: none;
  justify-self: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.content {
  background-color: aqua;
  min-height: 1000px;
  flex: 2;
}

.aside {
  background-color: coral;
  min-height: 500px;
  align-self: flex-start;
  flex: 1;
}